.input{
    @apply bg-gray-50   text-gray-900 text-sm rounded-lg   block w-full p-2.5;
}
/* .login{
    background-image: url(/public/London\ art\ &\ architecture.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
 .login-right{
    background-image: url(/public/Restaurant\ &\ Bar\ Ideas.jpeg);
    background-position: center;
    background-size: cover;
    
 }