.App {
  text-align: center;
}

.bg_dashboard{

  background-image: url(./../public/dashboard.jpg);
  background-position:center;
  background-repeat: no-repeat;
  
  max-height:max-content;
  background-size: cover;
  
}

